body {
    background: linear-gradient(120deg, rgb(91, 241, 77), rgb(52, 244, 205), rgb(124, 94, 200), rgb(188, 70, 176));
}

.home_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(165, 99, 165), -10px -10px 15px rgb(16, 172, 102);
}

.home_box h1 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px 20px;
}

.button {
    text-align: center;
}

.login_button {
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    background: deepskyblue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition-duration: 1s;
}

.login_button:hover {
    background-color: #ff0157;
    transition-duration: 1s;
}