body {
    background: linear-gradient(90deg, rgb(148, 241, 105), rgb(133, 250, 215), rgb(116, 149, 246));
    min-width: 1400px;
    position: relative;
}

.table {
    margin-top: 50px;
    margin-left: 600px;
    margin-right: 560px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.table th {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

caption {
    border-bottom: 3px dashed red;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 10px 10px 15px gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table input[type = "submit"] {
    font-size: 20px;
    background-color: black;
    color: white;
    transition-duration: 1s;
    border-radius: 5px;
    padding: 5px;
}

.table input[type = "submit"]:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
}

.box button {
    margin-top: 40px;
    margin-left: 740px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 1s;
}

.box button:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
}